<html lang='bg'>
<head>
  {% load static %}
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}" />
    <script
      src="https://kit.fontawesome.com/52855a3fd2.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="hotel-container">
        <div class="hotel">
          <div class="info-hotel">
            <h2 class="title">{{  hotel  }}
              <div class="star-rating">
                {% for _ in star_range %}
                    <span class="star"></span>
                {% endfor %}
            </div>                                          
            </h2>
            <div class="location">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="location-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                <path fill="currentColor" d="M16 18a5 5 0 1 1 5-5a5.006 5.006 0 0 1-5 5m0-8a3 3 0 1 0 3 3a3.003 3.003 0 0 0-3-3"></path>
                <path fill="currentColor" d="m16 30l-8.436-9.949a35.076 35.076 0 0 1-.348-.451A10.889 10.889 0 0 1 5 13a11 11 0 0 1 22 0a10.884 10.884 0 0 1-2.215 6.597l-.001.003s-.3.394-.345.447ZM8.813 18.395s.233.308.286.374L16 26.908l6.91-8.15c.044-.055.278-.365.279-.366A8.901 8.901 0 0 0 25 13a9 9 0 1 0-18 0a8.905 8.905 0 0 0 1.813 5.395"></path>
              </svg>
              <span class="location-text">{{address_hotel}}</span>
            </div>            
          </div>
        </div>
        <div class="images-container">
          <div class="images">
            <img src={{ main_image }} class="first-image" />
            <div class="column">
              <img src="{{ images.0 }}" />
              <img src="{{ images.1 }}" />
            </div>
            <div class="column">
              <img src="{{ images.2 }}" />
              <img src="{{ images.3 }}" />
            </div>
          </div>
        </div>
        
        <div class="hotel-info">
          <div class="hotel-base">
            <h3>Хотелска база</h3>
            <p>{{hotel_base}}</p>
          </div>
          <div class="accommodation">
            <h3>Настаняване</h3>
            <p>{{accommodation}}</p>
          </div>
          <div class="entertainment">
            <h3>Спорт/Забавления</h3>
            <p>{{entertainment}}</p>
          </div>
          <div class="food">
            <h3>Хранене</h3>
            <p>{{food}}</p>
          </div>
        </div>
      </div>
      <div class="button-container">
          <div class="button-wrap">
            <button class="button">{{ reservertion_type }}</button>
          </div>
          <!-- <div class="tab-button-container">
            <button class="tab-button">HB - Полупансион</button>
          </div> -->
      </div>      
      <div class="wrap">
        <div class="offer-container">
          <div class="room-details">
            <div class="room-grid">
              <div class="room-header">
                <div>Тип стая</div>
                <div>Условия</div>
                <div>Брой хора</div>
                <div>Цена за 1 нощувка</div>
                <div></div>
              </div>
              <div class="room">
                <div class="type-room">
                {{type_room}}
                </div>
                <div class="price-includes">
                  <div class="price-includes-text">Цената включва:</div>
                  <div class="include">
                    <i class="fa-solid fa-check"></i>{{price_includes}}
                  </div>
                  <div class="cancellation">  
                    <i class="fa-regular fa-circle-xmark"></i>{{cancelattion}}
                  </div>
                </div>
                <div class="amount-people-container">
                  <div class="icon-ppl">
                    {% for icon_class in adult_icons %}
                        <i class="{{ icon_class }}"></i>
                    {% endfor %}
                    {% for icon_class in child_icons %}
                        <i class="{{ icon_class }}"></i>
                    {% endfor %}
                </div>
                <div class="amount-ppl">{{ amount_people }}</div>                
                </div>
                <div class="price">
                  <div class="net-price">{{price}}</div>
                  <h6 class="tax">Допълнителни такси:</h6>
                  <p>{{additional_tax}}</p>
                  <h6 class="tax-price">{{tax}}</h6>
                </div>
                <div class="net-container">
                  <div class="net-total">Общо</div>
                  <div class="total-price">{{total}}</div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html> 